@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 93%;
}

body {
    display: block;
    background: url(background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Home Link */
nav.navbar {
    min-height: 10px;
}

a.navbar-brand {
    font-size: 1.25em;
    color: #404040;
    text-shadow: 2px 2px 4px #ffffff;
    margin: 5px;
    border-bottom: 3px solid #404040;
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px;
}

a.navbar-brand:hover {
    border-bottom: 5px solid #404040;
}

/* Pop The Bubbles Title */
main {
    margin-top: -30px;
}

.titleFont {
    font-size: 2.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #ffffff;
}

/* Instruction */
#instruction {
    padding-left: 5%;
    padding-right: 5%;
}

.messageFont {
    font-size: 1.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #ffffff;
    margin-bottom: 20px;
}

.timer {
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px #ffffff;
    margin-top: -18px;
    margin-bottom: 20px;
}

/* Bubble Image */
img {
    width:40px;
    margin: -3px;
}

.pop {
    visibility: hidden;
}

.cursor {
    cursor: pointer;
}

.startButton {
    position: absolute;
    left: 0;
    right: 0;
    width:80px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    cursor: pointer;
}

/* Win Game */
#goodjob {
    background: url(goodjob.jpg) center center / 250px 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: -2;
    visibility: hidden;
}

/* Lost Game */
#timeUP {
    background: url(timeisup.jpg) center center / 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

@media screen and (max-width: 550px) {
    /* Pop The Bubbles Title */
    .titleFont {
        font-size: 2em;
    }
    /* Instruction */
    .messageFont {
        font-size: 1em;
    }
    /* Bubble Image */
    img {
        width: 36px;
        margin: -2px;
    }
}

@media screen and (max-width: 380px) {
    /* Home Link */
    a.navbar-brand {
        font-size: 1em;
    }
    /* Pop The Bubbles Title */
    .titleFont {
        font-size: 1.8em;
    }
    /* Bubble Image */
    img {
        width: 30px;
        margin: -2px;
    }
}
