@charset "utf-8";
/* CSS Document */

html {
    position: relative;
    min-height: 93%;
}

body {
    display: block;
    background: url(img/background.jpg) center center / cover no-repeat fixed;
    padding: 0;
    margin: 0 0 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Home Link */
nav.navbar {
    min-height: 10px;
}

a.navbar-brand {
    font-size: 1.25em;
    color: #404040;
    margin: 5px;
    border-bottom: 3px solid #404040;
    padding-top: 5px;
    padding-bottom: 0;
    height: 30px;
}

a.navbar-brand:hover {
    border-bottom: 5px solid #404040;
}

/* Pop The Bubbles Title */
main {
    margin-top: -30px;
}

h1 {
    display: inline-block;
    font-size: 2.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
    padding: 10px 15px;
    margin: 5px 20px 10px;
    border-radius: 15px;
}

h1,
#instruction .col-sm-6.col-xs-12 {
    background-color: #d9d9d9;
    border: 2px solid #c3c3c3;
}

a.navbar-brand, h1,
#instruction {
    text-shadow: 2px 2px 4px #ffffff;
}

/* Instruction */
#instruction .col-sm-6.col-xs-12 {
    width: 35%;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px 0;
    margin: 10px 0 30px 20px;
}

.messageFont {
    font-size: 1.2em;
    font-family: "Arial", Gadget, sans-serif;
    font-weight: 700;
}

.timer {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: -10px;
}

/* Bubble Image */
img.pop {
    width:40px;
    margin: -3px;
}

.pop {
    visibility: hidden;
}

.allBubbles {
    cursor: pointer;
}

.startButton {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    cursor: pointer;
}

/* Win Game */
#goodjob {
    background: url(img/goodjob.jpg) center center / 250px 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: -2;
    visibility: hidden;
}

/* Lost Game */
#timeUP {
    background: url(img/timeisup.jpg) center center / 210px no-repeat fixed;
    width:100%;
    height:100%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 130px;
    left: 0;
    right: 0;
    z-index: -1;
    visibility: hidden;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    padding-top: 30px;
}

/** Media Queries **/
@media screen and (max-width: 1230px) {
    /* Instruction */
    #instruction .col-sm-6.col-xs-12 {
        width: 45%;
    }
}

@media screen and (max-width: 950px) {
    /* Instruction */
    #instruction .col-sm-6.col-xs-12 {
        width: 65%;
        margin: 5px 0 0 20px;
    }
    #instruction {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 700px) {
    /* Instruction */
    #instruction .col-sm-6.col-xs-12 {
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    /* Pop The Bubbles Title */
    h1 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 550px) {
    /* Pop The Bubbles Title */
    h1 {
        font-size: 1.7em;
    }
    /* Instruction */
    .messageFont {
        font-size: 1em;
    }
    /* Bubble Image */
    img.pop {
        width: 36px;
        margin: -2px;
    }
}

@media screen and (max-width: 450px) {
    /* Pop The Bubbles Title */
    h1 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 380px) {
    /* Home Link */
    a.navbar-brand {
        font-size: 1em;
    }
    /* Pop The Bubbles Title */
    h1 {
        font-size: 1.2em;
    }
    .timer {
        font-size: 1.1em;
    }
    /* Bubble Image */
    img.pop {
        width: 30px;
        margin: -2px;
    }
}

@media screen and (max-width: 330px) {
    /* Pop The Bubbles Title */
    h1 {
        font-size: 1.1em;
    }
    .timer {
        font-size: 1em;
    }
}
